
body {
    margin: 0;
}

.weatherapp {
    background-image: url('http://www.wallpaperbetter.com/wallpaper/269/951/640/beautiful-morning-scene-1080P-wallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.location {
    text-align: right;
    padding: 20px 10px;
    color: #fff;
}

.location h3,
.location h5 {
    margin: 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.temp_information h2 {
    font-size: 40px;
    color: #fff;
}

.search {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.search input {
    height: 40px;
    width: 80%;
    max-width: 400px; 
}

.search button {
    border: 0;
    background-color: rgb(12, 66, 165);
    color: white;
    font-size: 18px;
    padding: 0px 20px;
}


@media only screen and (min-width: 768px) {
    .location {
        padding: 50px 20px 0px 0px;
    }

    .information {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }

    .temp_information h2 {
        font-size: 60px;
    }

    .search {
        padding: 20px 50px;
    }
}
